:root{
    --green:rgb(56, 255, 53);
}

body{
    background-color: rgb(0, 0, 0);
    color: var(--green);
    font-family: monospace, 'source code pro', sans-serif;
}

.topgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.portrait {
    grid-column: 1;
    justify-self: center;
    height:auto;
    width:300px;
}

.intro {
    grid-column: 2;
    height: 250px;
    margin: 20px;
    max-width: 400px;
    min-width: 200px;
    text-align: left;
}

.displaybox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    max-width: 800px;
}

.tile {
    border-radius: 10px;
    height: 200px;
    margin: 10px;
    resize: none;
    width: 200px;
}

.tile:hover {
    transform: scale(1.1);
    transition: .4s ease;
}

.overlay {
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  top: -203px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
}

p {
    text-align: left;
}

.return {
    border-radius: 10px;
    border-color: var(--green);
    background-color: black;
    color:var(--green);
    padding:10px;
}

.return:hover {
    border-color: white;
    color:white;
    cursor: pointer;
    transform: scale(1.1);
    transform: .3s ease;
}

ul {
    text-align: left;
}

.youtube {
    border:3px solid var(--green);
    border-radius: 15px;
}

a:link {
    color: var(--green);
}

a:visited {
    color: var(--green);
}

a:hover{
    color: white;
}

.tile:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.project {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
}